@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<!DOCTYPE html>
<html lang="en">

<body class="no-skin">


    <div class="main-container" id="main-container">

        <div class="main-content">
            <div class="main-content-inner">


                <div class="page-content">


                 
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            <div class="row">
                                <div>
                                    <div class="widget-box widget-color-blue2">
                                        <div class="widget-header">
                                            <h4 class="widget-title lighter smaller">Công đoàn công ty QLB Miền Trung</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main padding-8">
                                                <ul id="tree1"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <script type="text/javascript">
                                var $assets = "dist";//this will be used in fuelux.tree-sampledata.js
                            </script>

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

      

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

</body>
</html>
@section scripts{


    <!-- page specific plugin scripts -->
    <script src="~/Content/ace-master/assets/js/fuelux.tree.min.js"></script>

   

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            var sampleData = initiateDemoData();//see below


            $('#tree1').ace_tree({
                dataSource: sampleData['dataSource1'],
                multiSelect: true,
                cacheItems: true,
                'open-icon': 'ace-icon tree-minus',
                'close-icon': 'ace-icon tree-plus',
                'selectable': true,
                'selected-icon': 'ace-icon fa fa-check',
                'unselected-icon': 'ace-icon fa fa-times',
                loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>'
            });

            $('#tree2').ace_tree({
                dataSource: sampleData['dataSource2'],
                loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
                'open-icon': 'ace-icon fa fa-folder-open',
                'close-icon': 'ace-icon fa fa-folder',
                'selectable': false,
                multiSelect: false,
                'selected-icon': null,
                'unselected-icon': null
            });

            /**
            //please refer to docs for more info
            $('#tree1')
            .on('loaded.fu.tree', function(e) {
            })
            .on('updated.fu.tree', function(e, result) {
            })
            .on('selected.fu.tree', function(e) {
            })
            .on('deselected.fu.tree', function(e) {
            })
            .on('opened.fu.tree', function(e) {
            })
            .on('closed.fu.tree', function(e) {
            });
            */


            function initiateDemoData() {
                var tree_data = {
                    'for-sale0': { text: 'Tổ CĐ phòng kế hoạch', type: 'item' },
                    'for-sale1': { text: 'Tổ CĐ phòng tổ chức CB-LĐ', type: 'item' },                    'for-sale2': { text: 'Tổ CĐ phòng tài chính', type: 'item' },                    'for-sale3': { text: 'Tổ CĐ phòng kỹ thuật', type: 'item' },                    'for-sale4': { text: 'Tổ CĐ phòng không lưu', type: 'item' },                    'for-sale5': { text: 'Tổ CĐ phòng an toàn - an ninh', type: 'item' },                    'for-sale6': { text: 'Tổ CĐ phòng Trung tâm HĐ-TKCN', type: 'item' },                    'for-sale7': { text: 'CĐBP Văn phòng', type: 'folder' },                    'for-sale8': { text: 'CĐBP Trung tâm TCTS', type: 'folder' },                    'for-sale9': { text: 'CĐBP Trung tâm BĐKT', type: 'folder' },                    'for-sale10': { text: 'CĐBP Khí tượng hàng không Đà Nẵng', type: 'folder' },                    'for-sale11': { text: 'CĐBP Đài KSKL Phú Bài', type: 'folder' },                    'for-sale12': { text: 'CĐBP Đài KSKL Chu Lai', type: 'folder' },                    'for-sale13': { text: 'CĐBP Đài KSKL Phù Cát', type: 'folder' },                    'for-sale14': { text: 'CĐBP Đài KSKL Pleiku', type: 'folder' },
                }
                tree_data['for-sale7']['additionalParameters'] = {
                    'children': {
                        'appliances': { text: 'Tổ CĐ Văn Thư - Tổng hợp - Vật tư', type: 'item' },
                        'arts-crafts': { text: 'Tổ CĐ Hành chính - Quản trị', type: 'item' },
                        'clothing': { text: 'Tổ CĐ An ninh - Bảo vệ', type: 'item' },
                      
                    }
                }
                tree_data['for-sale8']['additionalParameters'] = {
                    'children': {
                        'cars': { text: 'Tổ CĐ kíp 1', type: 'item' },
                        'motorcycles': { text: 'Tổ CĐ kíp 2', type: 'item' },
                        'boats': { text: 'Tổ CĐ kíp 3', type: 'item' },
                        'boats1': { text: 'Tổ CĐ kíp 4', type: 'item' },
                        'boats2': { text: 'Tổ CĐ kíp 5', type: 'item' },
                    }
                }
                tree_data['for-sale9']['additionalParameters'] = {
                    'children': {
                        'classics0': { text: 'Tổ CĐ Đội thông tin', type: 'item' },                        'classics1': { text: 'Tổ CĐ Đội công nghệ thông tin', type: 'item' },                        'classics2': { text: 'Tổ CĐ Đội cơ điện', type: 'item' },                        'classics3': { text: 'Tổ CĐ Đội kỹ thuật khí tượng', type: 'item' },                        'classics4': { text: 'Tổ CĐ Đội radar Sơn trà', type: 'item' },                        'classics5': { text: 'Tổ CĐ Đội radar Quy nhơn', type: 'item' },
                    }
                }
                tree_data['for-sale10']['additionalParameters'] = {
                    'children': {
                        'classics0': { text: 'Tổ CĐ Dự báo', type: 'item' },                        'classics1': { text: 'Tổ CĐ Quan trắc', type: 'item' },                        'classics2': { text: 'Tổ CĐ Đội cơ điện', type: 'item' },                    
                    }
                }
                tree_data['for-sale11']['additionalParameters'] = {
                    'children': {
                        'classics0': { text: 'Tổ CĐ Không lưu', type: 'item' },                        'classics1': { text: 'Tổ CĐ Kỹ thuật - An ninh - Phục vụ', type: 'item' },                        'classics2': { text: 'Tổ CĐ Phục vụ bay', type: 'item' },                    
                    }
                }
                tree_data['for-sale12']['additionalParameters'] = {
                    'children': {
                        'classics0': { text: 'Tổ CĐ Không lưu', type: 'item' },                        'classics1': { text: 'Tổ CĐ Kỹ thuật - An ninh - Phục vụ', type: 'item' },                        'classics2': { text: 'Tổ CĐ Phục vụ bay', type: 'item' },
                    }
                }
                tree_data['for-sale13']['additionalParameters'] = {
                    'children': {
                        'classics0': { text: 'Tổ CĐ Không lưu', type: 'item' },                        'classics1': { text: 'Tổ CĐ Kỹ thuật - An ninh - Phục vụ', type: 'item' },                        'classics2': { text: 'Tổ CĐ Phục vụ bay', type: 'item' },
                    }
                }
                tree_data['for-sale14']['additionalParameters'] = {
                    'children': {
                        'classics0': { text: 'Tổ CĐ Không lưu', type: 'item' },                        'classics1': { text: 'Tổ CĐ Kỹ thuật - An ninh - Phục vụ', type: 'item' },                        'classics2': { text: 'Tổ CĐ Phục vụ bay', type: 'item' },
                    }
                }
              

                var dataSource1 = function (options, callback) {
                    var $data = null
                    if (!("text" in options) && !("type" in options)) {
                        $data = tree_data;//the root tree
                        callback({ data: $data });
                        return;
                    }
                    else if ("type" in options && options.type == "folder") {
                        if ("additionalParameters" in options && "children" in options.additionalParameters)
                            $data = options.additionalParameters.children || {};
                        else $data = {}//no data
                    }

                    if ($data != null)//this setTimeout is only for mimicking some random delay
                        setTimeout(function () { callback({ data: $data }); }, parseInt(Math.random() * 500) + 200);

                    //we have used static data here
                    //but you can retrieve your data dynamically from a server using ajax call
                    //checkout examples/treeview.html and examples/treeview.js for more info
                }




                var tree_data_2 = {
                    'pictures': { text: 'Pictures', type: 'folder', 'icon-class': 'red' },
                    'music': { text: 'Music', type: 'folder', 'icon-class': 'orange' },
                    'video': { text: 'Video', type: 'folder', 'icon-class': 'blue' },
                    'documents': { text: 'Documents', type: 'folder', 'icon-class': 'green' },
                    'backup': { text: 'Backup', type: 'folder' },
                    'readme': { text: '<i class="ace-icon fa fa-file-text grey"></i> ReadMe.txt', type: 'item' },
                    'manual': { text: '<i class="ace-icon fa fa-book blue"></i> Manual.html', type: 'item' }
                }
                tree_data_2['music']['additionalParameters'] = {
                    'children': [
                        { text: '<i class="ace-icon fa fa-music blue"></i> song1.ogg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-music blue"></i> song2.ogg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-music blue"></i> song3.ogg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-music blue"></i> song4.ogg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-music blue"></i> song5.ogg', type: 'item' }
                    ]
                }
                tree_data_2['video']['additionalParameters'] = {
                    'children': [
                        { text: '<i class="ace-icon fa fa-film blue"></i> movie1.avi', type: 'item' },
                        { text: '<i class="ace-icon fa fa-film blue"></i> movie2.avi', type: 'item' },
                        { text: '<i class="ace-icon fa fa-film blue"></i> movie3.avi', type: 'item' },
                        { text: '<i class="ace-icon fa fa-film blue"></i> movie4.avi', type: 'item' },
                        { text: '<i class="ace-icon fa fa-film blue"></i> movie5.avi', type: 'item' }
                    ]
                }
                tree_data_2['pictures']['additionalParameters'] = {
                    'children': {
                        'wallpapers': { text: 'Wallpapers', type: 'folder', 'icon-class': 'pink' },
                        'camera': { text: 'Camera', type: 'folder', 'icon-class': 'pink' }
                    }
                }
                tree_data_2['pictures']['additionalParameters']['children']['wallpapers']['additionalParameters'] = {
                    'children': [
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> wallpaper1.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> wallpaper2.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> wallpaper3.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> wallpaper4.jpg', type: 'item' }
                    ]
                }
                tree_data_2['pictures']['additionalParameters']['children']['camera']['additionalParameters'] = {
                    'children': [
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> photo1.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> photo2.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> photo3.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> photo4.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> photo5.jpg', type: 'item' },
                        { text: '<i class="ace-icon fa fa-picture-o green"></i> photo6.jpg', type: 'item' }
                    ]
                }


                tree_data_2['documents']['additionalParameters'] = {
                    'children': [
                        { text: '<i class="ace-icon fa fa-file-text red"></i> document1.pdf', type: 'item' },
                        { text: '<i class="ace-icon fa fa-file-text grey"></i> document2.doc', type: 'item' },
                        { text: '<i class="ace-icon fa fa-file-text grey"></i> document3.doc', type: 'item' },
                        { text: '<i class="ace-icon fa fa-file-text red"></i> document4.pdf', type: 'item' },
                        { text: '<i class="ace-icon fa fa-file-text grey"></i> document5.doc', type: 'item' }
                    ]
                }

                tree_data_2['backup']['additionalParameters'] = {
                    'children': [
                        { text: '<i class="ace-icon fa fa-archive brown"></i> backup1.zip', type: 'item' },
                        { text: '<i class="ace-icon fa fa-archive brown"></i> backup2.zip', type: 'item' },
                        { text: '<i class="ace-icon fa fa-archive brown"></i> backup3.zip', type: 'item' },
                        { text: '<i class="ace-icon fa fa-archive brown"></i> backup4.zip', type: 'item' }
                    ]
                }
                var dataSource2 = function (options, callback) {
                    var $data = null
                    if (!("text" in options) && !("type" in options)) {
                        $data = tree_data_2;//the root tree
                        callback({ data: $data });
                        return;
                    }
                    else if ("type" in options && options.type == "folder") {
                        if ("additionalParameters" in options && "children" in options.additionalParameters)
                            $data = options.additionalParameters.children || {};
                        else $data = {}//no data
                    }

                    if ($data != null)//this setTimeout is only for mimicking some random delay
                        setTimeout(function () { callback({ data: $data }); }, parseInt(Math.random() * 500) + 200);

                    //we have used static data here
                    //but you can retrieve your data dynamically from a server using ajax call
                    //checkout examples/treeview.html and examples/treeview.js for more info
                }


                return { 'dataSource1': dataSource1, 'dataSource2': dataSource2 }
            }

        });
    </script>}