@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../dist/simTree.css">
    <link href="~/Content/simTree.css" rel="stylesheet" />
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <title>sim-tree: Checkable Hierarchical Tree Demo</title>
    <style>

        body {
            min-height: 100vh;
            background-color: #fafafa;
        }

        .container {
            margin: 150px auto;
            max-width: 640px;
        }
    </style>
</head>
<body>
    <div id="jquery-script-menu">
        <div class="jquery-script-center">
            <ul>
                <li><a href="https://www.jqueryscript.net/other/Checkable-Hierarchical-Tree.html">Download This Plugin</a></li>
                <li><a href="https://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
            </ul>
            <div class="jquery-script-ads">
                <script type="text/javascript">
<!--
                    google_ad_client = "ca-pub-2783044520727903";
                    /* jQuery_demo */
                    google_ad_slot = "2780937993";
                    google_ad_width = 728;
                    google_ad_height = 90;
                    //-->
                </script>
                <script type="text/javascript"
                        src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <div class="jquery-script-clear"></div>
        </div>
    </div>
    <div class="container">
        <h1>sim-tree: Checkable Hierarchical Tree Demo</h1>
        <div id="tree"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../dist/simTree.js"></script>
    <script src="~/Content/simTree.js"></script>
    <script>
        var list = [{
            "id": '1',
            "pid": '',
            "name": "JavaScript",

        },
        {
            "id": '11',
            "pid": '1', // parent ID
            "name": "Angular"
        },
        {
            "id": '12',
            "pid": '1',
            "name": "React"
        }, {
            "id": '13',
            "pid": '1',
            "name": "Vuejs"
        }, {
            "id": '14',
            "pid": '1',
            "name": "jQueryScript.Net"
        },
        {
            "id": '2',
            "pid": '',
            "name": "HTML5"
        },
        {
            "id": '3',
            "pid": '',
            "name": "CSS3",
            "disabled": true
        }];

    

        var tree = simTree({
            el: '#tree',
            data: list,
            check: true,
            linkParent: true,
            //check: true,
            expand: 'expand',

            onClick: function (item) {
                console.log(item)
            },
            onChange: function (item) {
                console.log(item)
            }
        });
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>

</html>
